
@{
    ViewBag.Title = "Show";
}

<h2>展示个人信息</h2>

 姓名：@Request["username"]<br />
 密码：@Request["psd1"]<br />
确认密码：@Request["psd2"]<br />
性别：@Request["sex"]<br />
籍贯：@Request["province"]
@Request["city"]<br />
邮箱：@Request["email"]<br />
电话：@Request["phone"]<br />
专业特长：@Request["master"]<br />
爱好：@Request["like"]<br />
照片：@Request["filename"]<br />
出生年月：@Request["data"]<br />
备注：@Request["beizhu"]<br />