@{ ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_MyLayout.cshtml"; 
    } 
<div class="title">
     <span class="title_icon"> 
    <img src="~/Content/images/bullet2.gif" alt="" title="" />
    </span> 新品介绍
 </div> 
<div class="new_products">
    <div class="new_prod_box">
        <a href="">product name</a>
        <div class="new_prod_bg">
            <span class="new_icon">
                <img src="~/Content/images/new_icon.gif" alt="" title="" />
            </span>
            <a href="">
                <img src="~/Content/images/thumb1.gif" alt="" title="" class="thumb" border="0" />
            </a>
        </div>
    </div>
    <div class="new_prod_box">
        <a href="">product name
        </a> 
    <div class="new_prod_bg">
            <span class="new_icon">
                <img src="~/Content/images/new_icon.gif" alt="" title="" />
            </span> 
        <a href="">
                <img src="~/Content/images/thumb2.gif" alt="" title="" class="thumb" border="0" />
            </a>
        </div>
    </div> <div class="new_prod_box"> <a href="details.html">product name</a> <div class="new_prod_bg"> <span class="new_icon"> <img src="~/Content/images/new_icon.gif" alt="" title="" /></span> <a href="details.html"> <img src="~/Content/images/thumb3.gif" alt="" title="" class="thumb" border="0" /> </a> </div> </div>
</div>
<div class="clear">

</div>