@{ Layout = null; } <body>
    <div> <div class="title">
        <span class="title_icon">
        <img src="~/Content/images/bullet3.gif" alt="" title="" />
        </span>
        测试页面
        </div> 
    <div class="about"> 
        <p> 
        <img src="~/Content/images/about.gif" alt="" title="" class="right" />
         测试页面
        <br /><br /><br /><br /><br /><br /><br /><br /> 
        </p> 
        </div>     
     </div>
</body>
